# A requirements file used by our Travis CI/CD process
# to test and package the utilities. Refer to src/python/setup.py
# for the module's runtime requirements.

# For testing...
coverage == 5.3.1
future >= 0.18.2
setuptools == 65.5.1

# In order to run 'python setup.py bdist_wheel'...
wheel == 0.36.2
